*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 64rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: Arial, sans-serif;
}
p,
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  font-size: 3em;
}
p {
  font-size: 1.8em;
}
.image-container {
  margin: 20px;
  transition: transform 0.2s;
}
.Link {
  text-decoration: none;
  color: inherit;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
